html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

h1 {
    text-align: center;
    margin-bottom: 1em;
    font-family: Open Sans;
}

div.output {
    text-align: center;
    font-size: 1.8em;
}

.put-the-dang-thing-in-the-middle {
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

#shorten-input {
    width: 80%;
    height: 70px;
    margin: auto;
    color: #999;
    font-size: 1.9em;
}

.error {
    color: red;
    font-style: italic;
    text-align: center;
    margin-top: 1em;
}
